# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.RollicSeyfullah-Picker3D.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Seyf\Desktop\RollicSeyfullah-Picker3D\.idea\.idea.RollicSeyfullah-Picker3D\.idea/dataSources/
/dataSources.local.xml
